/* RESET CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none !important;
}

/* Variables */
:root {
  /* Main colors */
  --color-primary: #1f314f;
  --color-secondary: #68778d;
  --color-background: #d5e1ef;
  --color-white: #fff;

  /* Fonts */
  --font-bold: normal normal bold 22px/120% "Outfit", sans-serif;
  --font-regular: normal normal normal 15px/140% "Outfit", sans-serif;

  /* Spacing */
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
}

/* main */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}
.container {
  max-width: 320px;
  background-color: var(--color-white);
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-200);
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.04);

  img {
    border-radius: 10px;
  }

  h1 {
    font: var(--font-bold);
    text-align: center;
    margin-top: var(--spacing-300);
    color: var(--color-primary);
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);
  }

  p {
    margin-top: var(--spacing-200);
    text-align: center;
    font: var(--font-regular);
    letter-spacing: 0.2px;
    color: var(--color-secondary);
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);
  }
}

.footer-container {
  display: block;
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
  background-color: var(--color-primary);
  color: var(--color-white);

  a {
    text-decoration: underline;
    color: var(--color-background);

    &:hover {
      color: var(--color-secondary);
    }
  }
}
